# set environment variables
{% set PROJECT_USER = 'admin' %}
{% set PROJECT_ROOT = '/home/' ~ PROJECT_USER ~ '/' ~ PROJECT_SLUG %}
{% set VIRTUAL_ENV = PROJECT_ROOT ~ '/venv' %}
{% set DEBUG = DEBUG | default(false, true) %}

version: "3"
services:

  # bot
  {{ PROJECT_SLUG }}-{{ ENV }}:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
      args:
        PROJECT_SLUG: {{ PROJECT_SLUG }}
        PROJECT_USER: {{ PROJECT_USER }}
        VIRTUAL_ENV: {{ VIRTUAL_ENV }}
    image: {{ PROJECT_SLUG }}:{{ ENV }}
    container_name: {{ PROJECT_SLUG }}-{{ ENV }}
    restart: always
    networks:
      - {{ PROJECT_SLUG }}-{{ ENV }}
    command: python -m run
    environment:
      DEBUG: "{{ DEBUG }}"
      BOT_NAME: {{ BOT_NAME }}
      BOT_TOKEN: {{ BOT_TOKEN }}
    volumes:
      - {{ VOLUMES_ROOT }}/logs:{{ PROJECT_ROOT }}/logs
      - {{ VOLUMES_ROOT }}/db:{{ PROJECT_ROOT }}/db

networks:
  {{ PROJECT_SLUG }}-{{ ENV }}:
    name: {{ PROJECT_SLUG }}-{{ ENV }}
