# set environment variables
{% set PROJECT_USER = 'admin' %}
{% set PROJECT_ROOT = '/home/' ~ PROJECT_USER ~ '/' ~ PROJECT_SLUG %}
{% set VIRTUAL_ENV = PROJECT_ROOT ~ '/venv' %}
{% set ENABLE_TRAEFIK = ENABLE_TRAEFIK or ENV == 'prod' %}
{% set BOT_SERVICE_NAME = PROJECT_SLUG ~ '-' ~ ENV %}
{% set PORT = PORT or 8443 %}

version: "3"
services:

  # bot
  {{ BOT_SERVICE_NAME }}:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
      args:
        PROJECT_SLUG: {{ PROJECT_SLUG }}
        PROJECT_USER: {{ PROJECT_USER }}
        VIRTUAL_ENV: {{ VIRTUAL_ENV }}
    image: {{ PROJECT_SLUG }}:{{ ENV }}
    container_name: {{ BOT_SERVICE_NAME }}
    restart: always
    expose:
      - "{{ PORT }}"
    networks:
      - {{ PROJECT_SLUG }}-{{ ENV }}
      {% if ENABLE_TRAEFIK %}
      - traefik-public
    labels:
      # Enable Traefik for this specific "bot" service
      - traefik.enable=true
      # Define the port inside of the Docker service to use
      - traefik.http.services.{{ BOT_SERVICE_NAME }}.loadbalancer.server.port={{ PORT }}
      # Make Traefik use this domain in HTTP
      - traefik.http.routers.{{ BOT_SERVICE_NAME }}-http.entrypoints=http
      - traefik.http.routers.{{ BOT_SERVICE_NAME }}-http.rule=Host(`{{ HOST }}`)
      # Use the traefik-public network (declared below)
      - traefik.docker.network=traefik-public
      # Make Traefik use this domain in HTTPS
      - traefik.http.routers.{{ BOT_SERVICE_NAME }}-https.entrypoints=https
      - traefik.http.routers.{{ BOT_SERVICE_NAME }}-https.rule=Host(`{{ HOST }}`)
      - traefik.http.routers.{{ BOT_SERVICE_NAME }}-https.tls=true
      # Use the "le" (Let's Encrypt) resolver
      - traefik.http.routers.{{ BOT_SERVICE_NAME }}-https.tls.certresolver=le
      # https-redirect middleware to redirect HTTP to HTTPS
      - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
      # Middleware to redirect HTTP to HTTPS
      - traefik.http.routers.{{ BOT_SERVICE_NAME }}-http.middlewares=https-redirect
    {% endif %}
    command: python -m run
    environment:
      {% if ENABLE_TRAEFIK %}
      ENV: {{ ENV }}
      HOST: {{ HOST }}
      PORT: {{ PORT }}
      {% endif %}
      BOT_NAME: {{ BOT_NAME }}
      BOT_TOKEN: {{ BOT_TOKEN }}
    volumes:
      - {{ VOLUMES_ROOT }}/logs:{{ PROJECT_ROOT }}/logs
      - {{ VOLUMES_ROOT }}/db:{{ PROJECT_ROOT }}/db

networks:
  {{ PROJECT_SLUG }}-{{ ENV }}:
    name: {{ PROJECT_SLUG }}-{{ ENV }}
  {% if ENABLE_TRAEFIK %}
  traefik-public:
    external: true
  {% endif %}
